nav.navbar.navbar-default {
  margin-bottom: 0;
}

.navbar-nav{
  display: grid;
  grid-template-columns: repeat(10, auto);
  padding-bottom: 10px;
  text-align: center;
  margin-top: 0;
}

#signup:hover, #signIn:hover, #about:hover{
  background-color: black;
  border: 2px solid slategray;
  border-radius: 5px;
  transition: all 0.2s ease-out;
  color: silver;
}

#title{
  transform: translateX(-60px)
}

#about{
  transform: translateX(400%);
/* transform: translateX(280%); */
border: 2px solid black;
border-radius: 5px;
margin: 10px;
background-color: rgb(105, 128, 105, .5);
padding-bottom: 3px;
color: black;
padding-top: 10px;
}

#signup{
  transform: translateX(412%);
  border: 2px solid black;
border-radius: 5px;
margin: 10px;
background-color: rgb(105, 128, 105, .5);
padding-bottom: 3px;
color: black;
padding-top: 10px;
}

#signIn{
  /* transform: translateX(320%); */
  transform: translate(320%, 200%);
  border: 2px solid black;
border-radius: 5px;
margin: 10px;
background-color: rgb(105, 128, 105, .5);
padding-bottom: 3px;
color: black;
padding-top: 10px;
}

#note{
  transform:translate(320%,100%);
}