form.search {
  overflow: auto;
  margin-bottom: 10px;
  transform: translateY(-110%);
  /* position: absolute;
  z-index: 0; */
}

form.search button[type="submit"] {
  float: right;
  margin-top: 10px;
}

form{
  position: fixed;
  z-index: 0;
}